<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora POST</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora</h1>
    <br/>
   <% for( post of posts){ %>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4><%= post.content %></h4>
        <!-- <br> -->
         <a href="http://localhost:3000/posts/<%=post.id%>">see full post</a>
        <br/>
        <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit post</a>
        <br/>
        <form method="post"    action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
           
        </form>
        <br>
    </div>
    <hr/>

   <% } %>
    <br/>
    <br/>
   <a href="http://localhost:3000/posts/new">create new posts</a>
    <br/>
    <br/>
    
</body>
</html>